/* Section  style */

.left-block {
	width: 270px;
	height: 210px;
	display: inline-block;
	vertical-align: top;
	margin-top: 94px;
	margin-left: 43px;
	
}
.right-block {
	width: 929px;
	height: 360px;
	display: inline-block; 
	vertical-align: top;
	margin-top: 97px;
	margin-left: 39px; 
}

/* აბსოლიტური მისამართი */

.right-block .block-text1 {
	font-size: 16px;
	 font-family: "ALK Life", sans-serif; 
}

/* რელატიური  მისამართი */

.right-block .block-text2 {
	margin-top: 20px;
	font-size: 16px;
	font-family: "ALK Rex Bold", sans-serif;
}

 .block-image{
	width: 100%;
	
} 


/* Section  2  style */

.left-block2 {
	width: 270px;
	height: 210px;
	display: inline-block;
	vertical-align: top;
	margin-top: 94px;
	margin-left: 43px;
	
}
.right-block2 {
	width: 929px;
	height: 360px;
	display: inline-block; 
	vertical-align: top;
	margin-top: 97px;
	margin-left: 39px; 
}

/* აბსოლიტური მისამართი ლათინური ფონტი */

.right-block2 .block-text1 {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	
}

/* რელატიური  მისამართი ლათინური ფონტი */

.right-block2 .block-text2 {
	margin-top: 20px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	
}

